<?xml version="1.0" encoding="utf-8" ?>
<MenuDataItems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDataItem Icon="" MenuText="_Home" Description="System Overview" Roles="*" UserControlAssembly="PTPSyncManager.exe" UserControlPath="PTPSyncManager.HomeUserControl" />
  <MenuDataItem Icon="" MenuText="_Configuration" Description="Manage Adapters" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="PTPd/_Action Adapters" Description="Configure Action Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomActionAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_View Configured Adapters" Description="View Iaon Tree" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.IaonTreeUserControl"/>
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="Mo_nitoring" Description="Monitor PTPSync Components" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="View System _Statistics" Description="System Statistics" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.RealTimeStatisticUserControl"/>
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Remote System Console" Description="Remote System Console" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.MonitoringUserControl" />
      <MenuDataItem Icon="" MenuText="_Error Log" Description="Error Log" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.ErrorLogUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="Ad_vanced" Description="Manage Advanced Settings" Roles="Administrator,Editor" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="Manage _Node Settings" Description="Manage Node Settings" Roles="Administrator" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.NodeUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="Configure _Security" Description="Configure Security" Roles="Administrator" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.SecurityUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Filter Adapters" Description="Configure Filter Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomFilterAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="_Input Adapters" Description="Configure Input Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomInputAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="_Output Adapters" Description="Configure Output Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomOutputAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Historian Instances" Description="Manage Historian Instances" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.HistorianUserControl" />
    </SubMenuItems>
  </MenuDataItem>
</MenuDataItems>
